<footer class="footer-section" id="footer">
    <div class="container">
        <div class="footer-container">
                <div class="footer-contacts">
                    <div class="footer-logo-container">
                        <a class="footer-logo" href="./index.html">watchcharm</a>
                        <ul class="footer-soc-list">
                            <li class="footer-soc-item">
                                <a class="footer-soc-link" href="https://it-it.facebook.com/goITclub/" target="_blank"> <svg
                                        class="footer-soc-icon" width="24" height="24">
                                        <use href="./img/SVG_Sprite.svg#icon-facebook"></use>
                                    </svg></a>
                            </li>
                            <li class="footer-soc-item">
                                <a class="footer-soc-link" href="https://www.instagram.com/goitclub/" target="_blank"> <svg
                                        class="footer-soc-icon" width="24" height="24">
                                        <use href="./img/SVG_Sprite.svg#icon-instagram"></use>
                                    </svg></a>
                            </li>
                            <li class="footer-soc-item">
                                <a class="footer-soc-link" href="https://www.youtube.com/@GoIT" target="_blank"> <svg
                                        class="footer-soc-icon" width="24" height="24">
                                        <use href="./img/SVG_Sprite.svg#icon-youtube"></use>
                                    </svg></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-tel-container">
                        <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    </div>
                </div>
                <p class="footer-txt">Have the time of your life with our watches: where high-class craftsmanship meets
                    impeccable design</p>


            <div class="footer-nav-policy-container">
                <div class="footer-nav-add-container">
                    <nav class="footer-nav">
                        <ul class="footer-nav-list">
                            <li class="nav-item"><a class="footer-nav-link" href="./index.html">Home</a></li>
                            <li class="nav-item"><a class="footer-nav-link" href="#about-us">About Us</a></li>
                            <li class="nav-item"><a class="footer-nav-link" href="#catalog">Catalog</a></li>
                            <li class="nav-item"><a class="footer-nav-link" href="#sale">Sale</a></li>
                            <li class="nav-item"><a class="footer-nav-link" href="#reviews">Reviews</a></li>
                            <li class="nav-item"><a class="footer-nav-link" href="#contact-us">Contact Us</a></li>
                        </ul>
                    </nav>
                    <div class="adress-container">
                        <address class="contact-adress">1678 S. Pioneer Road Salt Lake City UT 84104 </address>
                    </div>
                </div>

                <div class="vector">
                    <hr>
                </div>

                <div class="footer-ground-container">
                    <p class="footer-ground-txt">©2023 The Watch Spot. All rights reserved.</p>
                    <ul class="footer-ground-list">
                        <li class="footer-ground-link"><a>Terms of Service</a></li>
                        <li class="footer-ground-link"><a>Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>