<!-- Шапка-->
<header class="header" id="header">
    <div class="container header-container">
        <a class="header-logo" href="./index.html">watchcharm</a>

        <nav class="header-navigation">
            <ul class="header-list">
                <li class="header-list-item">
                    <a class="navigation-link" href="./index.html">Home </a>

                </li>
                <li class="header-list-item">
                    <a class="navigation-link" href="#about-us">About us</a>
                </li>
                <li class="header-list-item">
                    <a class="navigation-link" href="#catalog">Catalog</a>
                </li>
                <li class="header-list-item">
                    <a class="navigation-link" href="#sale">Sale</a>
                </li>
                <li class="header-list-item">
                    <a class="navigation-link" href="#reviews">Reviews</a>
                </li>
                <li class="header-list-item">
                    <a class="navigation-link" href="#contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>

        <ul class="social">
            <li class="icons-list">
                <a class="social-icons-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="social-icons" width="20" height="20">
                        <use href="/img/SVG_Sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="icons-list">
                <a class="social-icons-link" href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg class="social-icons" width="20" height="20">
                        <use href="/img/SVG_Sprite.svg#icon-instagram/"></use>
                    </svg>
                </a>
            </li>
            <li class="icons-list">
                <a class="social-icons-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg class="social-icons" width="20" height="20">
                        <use href="/img/SVG_Sprite.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="burger-btn" type="button" data-menu-open>
            <svg class="burger-icon" width="34" height="34">
                <use href="/img/SVG_Sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>

<div class="mobile-menu-overlayis-open">
    <div class="mobile-menu" data-menu>
        <div class="mobile-menu-container">
            <button class="mobile-close-button" type="button" data-menu-close>
                <svg class="modal-close-icon" width="34" height="34">
                    <use href="/img/SVG_Sprite.svg#icon-close"></use>
                </svg>
            </button>
            <nav class="mobile-navigation">
                <ul class="mobile-navigation-list">
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link accent" href="./index.html">Home</a>
                    </li>
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link" href="#about-us">About us</a>
                    </li>
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link" href="#catalog">Catalog</a>
                    </li>
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link" href="#sale">Sale</a>
                    </li>
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="mobile-navigation-item">
                        <a class="mobile-navigation-link" href="#contact-us">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <ul class="mobile-social">
                <li class="mobile-icons-list">
                    <a class="mobile-social-icons-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="mobile-social-icons" width="18" height="18">
                            <use href="/img/SVG_Sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-icons-list">
                    <a class="mobile-social-icons-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="mobile-social-icons" width="18" height="18">
                            <use href="/img/SVG_Sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-icons-list">
                    <a class="mobile-social-icons-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="mobile-social-icons" width="18" height="18">
                            <use href="/img/SVG_Sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>