<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-hideline">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-items">

        <picture>
          <source srcset="/img/catalog_1.webp 1x, /img/catalog_1@2x.webp 2x" media="(min-width: 320px)" />
          <source srcset="
                /img/catalog_1_tablet.webp    1x,
                /img/catalog_1_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_1_desktop.webp 1x,
                /img/catalog_1_desktop.webp 2x
              " media="(min-width: 1280px)" />
          <img src="/img/catalog_1.webp" alt="watch"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name elipses">
              <p>Garmin Fenix 7X Pro Sapphire Solar</p>
            </li>
            <li class="catalog-name-item">
              <p>€500</p>
            </li>
          </ul>
        </span>
      </li>
      <li class="catalog-items">


        <picture>
          <source srcset="/img/catalog_2.webp 1x, /img/catalog_2@2x.webp 2x" media="(min-width: 320px)" />
          <source srcset="
                /img/catalog_2_tablet.webp    1x,
                /img/catalog_2_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_2_desktop.webp    1x,
                /img/catalog_2_desktop@2x.webp 2x
              " media="(min-width:1280px)" />
          <img src="/img/catalog_2.webp" alt="watch2"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name">
              <p>Garmin Marq Athlete</p>
            </li>
            <li class="catalog-name-item">
              <p>€450</p>
            </li>
          </ul>
        </span>
      </li>
      <li class="catalog-items">


        <picture>
          <source srcset="/img/catalog_3.webp 1x, /img/catalog_3@2x.webp 2x" media="(min-width: 320px)" />
          <source srcset="
                /img/catalog_3_tablet.webp    1x,
                /img/catalog_3_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_3_desktop.webp    1x,
                /img/catalog_3_desktop@2x.webp 2x
              " media="(min-width:1280px)" />
          <img src="/img/catalog_3.webp" alt="watch3"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name">
              <p>Garmin Descent MK1</p>
            </li>
            <li class="catalog-name-item">
              <p>€680</p>
            </li>
          </ul>
        </span>
      </li>
      <li class="catalog-items">


        <picture>
          <source srcset="/img/catalog_4.webp 1x, /img/catalog_4@2x.webp 2x" media="(min-width: 320px)" />
          <source srcset="
                /img/catalog_4_tablet.webp    1x,
                /img/catalog_4_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_4_desktop.webp    1x,
                /img/catalog_4_desktop@2x.webp 2x
              " media="(min-width: 1280px)" />
          <img src="/img//catalog_4.webp" alt="watch4"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name">
              <p>Garmin D2 Delta PX</p>
            </li>
            <li class="catalog-name-item">
              <p>€380</p>
            </li>
          </ul>
        </span>

      </li>
      <li class="catalog-items hidden">


        <picture>
          <source srcset="
                /img/catalog_5_tablet.webp    1x,
                /img/catalog_5_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_5_desktop.webp    1x,
                /img/catalog_5_desktop@2x.webp 2x
              " media="(min-width: 1280px)" />
          <img src="/img/catalog_5_tablet.webp" alt="watch5"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name">
              <p>Garmin Fenix 6 Pro Solar</p>
            </li>
            <li class="catalog-name-item">
              <p>€400</p>
            </li>
          </ul>
        </span>

      </li>
      <li class="catalog-items hidden">


        <picture>
          <source srcset="
                /img/catalog_6_tablet.webp    1x,
                /img/catalog_6_tablet@2x.webp 2x
              " media="(min-width: 768px)" />
          <source srcset="
                /img/catalog_6_desktop.webp    1x,
                /img/catalog_6_desktop@2x.webp 2x
              " media="(min-width: 1280px)" />
          <img src="/img/catalog_6_tablet.webp" alt="watch6"/>
        </picture>
        <span class="catalog-name">
          <ul class="catalog-name-list">
            <li class="catalog-first-name elipses">
              <p>Tube Watch S42 Date Steel With Black Case</p>
            </li>
            <li class="catalog-name-item">
              <p>€395</p>
            </li>
          </ul>
        </span>
      </li>
    </ul>
    <button class="button" type="button">Show more</button>
  </div>
  
</section>