<section class="container contact-us-container" id="contact-us">
  <h2 class="contact-us-header">Contact Us</h2>
  <div class="contact-info-img">
    <div class="contact-us-form-container">
      <p class="contact-us-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-us-form">
        <input
          class="contact-us-input"
          type="text"
          name="name"
          placeholder="Name"
          required
        />
        <input
          class="contact-us-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          class="contact-us-input"
          type="number"
          name="number"
          placeholder="+380"
          required
        />
        <textarea
          class="contact-us-textarea"
          class="form-textarea"
          name="comment"
          placeholder="Comment"
          required
        ></textarea>
        <button class="contact-us-button" type="submit">Send</button>
      </form>

 