<section class="sale-section">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container">
      <ul class="sale-list">
        <li class="sale-item">
          <picture>
            <source
              srcset="
                ./images/sale_watch_pc_1@1x.webp 1x,
                ./images/sale_watch_pc_1@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sale_watch_tab_1@1x.webp 1x,
                ./images/sale_watch_tab_1@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/sale_watch_mob_1@1x.webp 1x,
                ./images/sale_watch_mob_1@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/sale_watch_mob_1@1x.webp"
              alt="watch picture 1"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                ./images/sale_watch_pc_2@1x.webp 1x,
                ./images/sale_watch_pc_2@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sale_watch_tab_2@1x.webp 1x,
                ./images/sale_watch_tab_2@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/sale_watch_mob_2@1x.webp 1x,
                ./images/sale_watch_mob_2@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/sale_watch_mob_2@1x.webp"
              alt="watch picture 2"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                ./images/sale_watch_pc_3@1x.webp 1x,
                ./images/sale_watch_pc_3@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sale_watch_tab_3@1x.webp 1x,
                ./images/sale_watch_tab_3@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/sale_watch_mob_3@1x.webp 1x,
                ./images/sale_watch_mob_3@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/sale_watch_mob_3@1x.webp"
              alt="watch picture 3"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="
                ./images/sale_watch_pc_4@1x.webp 1x,
                ./images/sale_watch_pc_4@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sale_watch_tab_4@1x.webp 1x,
                ./images/sale_watch_tab_4@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/sale_watch_mob_4@1x.webp 1x,
                ./images/sale_watch_mob_4@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/sale_watch_mob_4@1x.webp"
              alt="watch picture 4"
            />
          </picture>
        </li>
      </ul>
      <div class="main-watch">
        <picture>
          <source
            srcset="
              ./images/sale_watch_pc_5@1x.webp 1x,
              ./images/sale_watch_pc_5@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sale_watch_tab_5@1x.webp 1x,
              ./images/sale_watch_tab_5@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/sale_watch_mob_5@1x.webp 1x,
              ./images/sale_watch_mob_5@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/sale_watch_mob_5@1x.webp"
            alt="main watch picture"
          />
        </picture>
      </div>
      <div class="watch-details">
        <h3 class="watch-name">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="watch-tag">Product tag: 706587</p>
        <div class="price">
          <p class="watch-price">€1500</p>
          <p class="watch-old-price">€3000</p>
        </div>
        <p class="watch-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="tags">
          <li class="tag">Fused carbon fiber</li>
          <li class="tag">Grade-5 Titanuim</li>
          <li class="tag">Athlete</li>
          <li class="tag">Golfer</li>
          <li class="tag">Commander</li>
          <li class="tag">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
