<section class="hero">
  <div class="container hero-container">
    <div class="hero-main">
    <div class="hero-block">
      <h1 class="hero-title">Welcome to our<br /> <span class="hero-title-collection">collection</span> of<br /> premium watches  
      </h1>
      <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-list-block">
      <ul class="hero-list">
        <li class="hero-list-item">
          <picture id="foto1">
            <source
            srcset="
            ./img/Victoria_Romashenko_desktop.webp 1x,
            ./img/Victoria_Romashenko_desktop@2x.webp 2x"
            media="(min-width: 1280px)"
          />
            <source
            srcset="
            ./img/Victoria_Romashenko_tablet.webp 1x,
            ./img/Victoria_Romashenko_tablet@2x.webp 2x"
            media="(min-width: 768px)"
          />
            <source
            srcset="
            ./img/Victoria_Romashenko.webp 1x,
            ./img/Victoria_Romashenko@2x.webp 2x"
            media="(max-width: 767px)"
          />
            <img
            src="./img/Victoria_Romashenko.webp"
            alt="victoria romashenko" 
            width="44" 
            height:="44" 
            class="hero-item-images"
          />
          </picture>
        </li>
        <li class="hero-list-item">
          <picture id="foto2">
            <source
            srcset="
            ./img/John_Wax_desktop.webp 1x,
            ./img/John_Wax_desktop@2x.webp 2x"
            media="(min-width: 1280px)"
          />
            <source
            srcset="
            ./img/John_Wax_tablet.webp 1x,
            ./img/John_Wax_tablet@2x.webp 2x"
            media="(min-width: 768px)"
          />
            <source
            srcset="
            ./img/John_Wax.webp 1x,
            ./img/John_Wax@2x.webp 2x"
            media="(max-width: 767px)"
          />
            <img
            src="./img/John_Wax.webp"
            alt="john wax" 
            width="44" 
            height:="44" 
            class="hero-item-images"
          />
          </picture>
        </li>
        <li class="hero-list-item">
          <picture id="foto3">
            <source
            srcset="
            ./img/Anastasia_Trachuk.webp 1x,
            ./img/Anastasia_Trachuk@2x.webp 2x"
            media="(min-width: 1280px)"
          />
            <source
            srcset="
            ./img/Anastasia_Trachuk.webp 1x,
            ./img/Anastasia_Trachuk@2x.webp 2x"
            media="(min-width: 768px)"
          />
            <source
            srcset="
            ./img/Anastasia_Trachuk.webp 1x,
            ./img/Anastasia_Trachuk@2x.webp 2x"
            media="(max-width: 767px)"
          />
            <img
            src="./img/Anastasia_Trachuk.webp"
            alt="anastasia trachuk" 
            width="44" 
            height:="44" 
            class="hero-item-images"
          />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="hero-scroll">Scroll down</a>
    </div>
  </div>
    <picture class="hero-rectangle">
      <source
      srcset="
      ./img/hero_desktop.webp 1x,
      ./img/hero_desktop@2x.webp 2x"
      media="(min-width: 1280px)"
    />
      <source
      srcset="
      ./img/hero_tablet.webp 1x,
      ./img/hero_tablet@2x.webp 2x"
      media="(min-width: 768px)"
    />
      <source
      srcset="
      ./img/hero.webp 1x,
      ./img/hero@2x.webp 2x"
      media="(max-width: 767px)"
    />
      <img
      src="./img/hero.webp"
      alt="rectangle" 
      class="hero-rectangle-images"
    />
    </picture>
  </div>
</section>
