<section class="reviews">
  <div class="container">
    <h2 class="reviews-section-header">Reviews</h2>
    <ul class="reviews-section-group">
      <li class="reviews-section-images">
        <div class="reviews-section-thumb"></div>
        <div class="reviews-section-text">
          <h3 class="reviews-text-header">John Wax</h3>
          <p class="revies-text-paragraph">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
