<section class="about-us">
  <div class="container about-us-wrapper">
    <div class="about-us-content about-us-elem">
      <h2 class="about-us-second-heading">About Us</h2>
      <p class="paragraph-about-us">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="paragraph-about-us">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <button type="button" class="view-catalog-button">
        <a href="#catalog">View catalog</a>
      </button>
    </div>
    <picture class="about-us-elem">
      <source
        srcset="
          img/about-us-desktop@1x.webp 1x,
          img/about-us-desktop@2x.webp 2x,
          img/about-us-desktop@3x.webp 3x
        "
        media="(min-width: 1158px)"
      />
      <source
        srcset="
          img/about-us-tablet@1x.webp 1x,
          img/about-us-tablet@2x.webp 2x,
          img/about-us-tablet@3x.webp 3x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          img/about-us-mobile@1x.webp 1x,
          img/about-us-mobile@2x.webp 2x,
          img/about-us-mobile@3x.webp 3x
        "
        media="(max-width: 767px)"
      />
      <img
        src="img/about-us-mobile@1x.webp"
        alt="portfolio pictxure"
        class="about-us-img"
      />
    </picture>
  </div>
</section>
