<section class="catalog">
  <div class="container">
    <h2 class="catalog-hideline">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch" width="279" />
          <picture>
            <source srcset="" media="(min-width: 320px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 1158px)" />
          </picture>
          <span>
            <ul>
              <li>
                <p>Garmin Fenix 7X Pro Sapphire Solar</p>
              </li>
              <li>
                <p>€500</p>
              </li>
            </ul>
          </span>
        </div>
      </li>
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch2" width="279" />

          <span>
            <ul>
              <li>
                <p>Garmin Marq Athlete</p>
              </li>
              <li>
                <p>€450</p>
              </li>
            </ul>
          </span>
        </div>
      </li>
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch3" width="279" />
          <picture>
            <source srcset="" media="(min-width: 320px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width:1158px)" />
          </picture>
          <span>
            <ul>
              <li>
                <p>Garmin Descent MK1</p>
              </li>
              <li>
                <p>€680</p>
              </li>
            </ul>
          </span>
        </div>
      </li>
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch4" width="279" />
          <picture>
            <source srcset="" media="(min-width: 320px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 1158px)" />
          </picture>
          <span>
            <ul>
              <li>
                <p>Garmin D2 Delta PX</p>
              </li>
              <li>
                <p>€380</p>
              </li>
            </ul>
          </span>
        </div>
      </li>
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch5" width="279" />
          <picture>
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 1158px)" />
          </picture>
          <span>
            <ul>
              <li>
                <p>Garmin Fenix 6 Pro Solar</p>
              </li>
              <li><p>€400</p></li>
            </ul>
          </span>
        </div>
      </li>
      <li class="catalog-items">
        <div class="catalog-imgns">
          <img src="" alt="watch6" width="279" />
          <picture>
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 1158px)" />
          </picture>
          <span>
            <ul>
              <li><p>Tube Watch S42 Date Steel With Black Case</p></li>
              <li><p>€395</p></li>
            </ul>
          </span>
        </div>
      </li>
    </ul>
    <button class="more" type="button"></button>
  </div>
</section>
