/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./section-hero.css');
@import url('./section-about-us.css');
@import url('./section-catalog.css');
@import url('./section-advertisment.css');
@import url('./section-sale.css');
@import url('./section-reviews.css');
@import url('./section-contact-us.css');
@import url('./footer.css');
